* {
  margin: 0;
  padding: 0;
}

.container {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #afc97e;
  min-height: 6.25rem;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebarre {
  flex: 0 0 200px;
  background: #d4e6b5;
  display: flex;
  flex-direction: column;
}

.sidebarre a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 5px;
  text-align: center;
  margin: 20px;
}

.sidebarre a:hover {
  background: #afc97e;
  color: white;
}

.content {
  flex: 1;
  flex: auto;
  background: #f5f5f5;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.content span {
  border: 1px solid black;
  height: 12rem;
  flex-basis: 12rem;
  margin: 1.3rem;
  text-align: center;
  padding-top: 5px;
}

.footer {
  background: #afc97e;
  flex: auto;
  min-height: 3.75rem;
  max-height: 3.75rem;
}
